//Variables
$primary-color: #4e5d6c;
$secondary-color: #e7e7e7;
$font-color: #222;
$font-family: 'Open Sans', sans-serif;

//Nav bar
.nav-bar {
  background-color: $primary-color;
  color: $secondary-color;
  font-family: $font-family;
  padding: 1rem;
  
  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &:hover {
      color: lighten($secondary-color, 10%);
    }

    li {
      margin: 0 1rem;
      
      a {
        color: $secondary-color;
        text-decoration: none;
        transition: color 0.3s ease;
        
        
      }
    }
  }
}

//Footer
footer {
  background-color: $primary-color;
  color: $secondary-color;
  font-family: $font-family;
  padding: 1rem;
  
  p {
    margin: 0;
  }
}

a{
  all: unset;
}
//Lists
.list {
  font-family: $font-family;
  
  li {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid $secondary-color;
    border-radius: 5px;
    transition: all 0.3s ease;
    
    &:hover {
      background-color: $secondary-color;
      color: $primary-color;
    }
    
    a {
      
      color: $font-color;
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

//Overall style
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: $font-color;
  background-color: $secondary-color;
}


form {
  width: 400px;
  margin: 50px auto;
  text-align: center;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #fafafa;
}

form label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  color: #333;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

form button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  font-size: 18px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: #444;
}

:root{
  text-align: center;
}





h2 {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0;
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  color: #333;
  cursor: pointer;

  &.active {
    background-color: #555;
    color: #fff;
  }
}

// Style pour le bouton "Log In"
.login-btn {
  background-color: #333;
  color: #fff;
  border-color: #333;

  &:hover {
    background-color: #555;
    border-color: #555;
  }
}

// Style pour le bouton "Sign In"
.signin-btn {
  background-color: #444;
  color: #fff;
  border-color: #444;

  &:hover {
    background-color: #666;
    border-color: #666;
  }
}
