<div class="list">
  <h2>Authors</h2>

  <ng-container *ngIf="authors; else loading">
    <ul class="list">
      <li *ngFor="let author of authors">
        <h3>{{ author.author_lastname }} {{ author.author_firstname }}</h3>
        <p>Age: {{ author.author_birthdate | age }} years, Address: {{ author.author_address }}</p>
        <p>{{ author.author_url }}</p>
        <p>{{ author.author_email }}</p>
      </li>
    </ul>
  </ng-container>

  <ng-template #loading>
    <div class="list">
      <p>Loading authors...</p>
    </div>
  </ng-template>
</div>
